mixin slider(data, mod)
  .slider(class!= `slider--${mod}`)&attributes(attributes)
    .slider__container.swiper-container(data-slider=`${mod}`)

      if mod === "stages"
        ul.slider__wrapper.swiper-wrapper
          each it in data
            li.slider__item.swiper-slide
              p.slider__text !{it}
        .slider__controls
          +btn({
            iconName: "arrow-left",
            iconWidth: "17",
            iconHeight: "17"
            }).btn--icon.btn--radius-50.btn--prev(aria-label="Назад")
          .slider__pagination
          +btn({
            iconName: "arrow-right",
            iconWidth: "17",
            iconHeight: "17"
            }).btn--icon.btn--radius-50.btn--next(aria-label="Вперёд")

      if mod === "users"
        ul.slider__wrapper.swiper-wrapper
          each it in data
            li.slider__item.swiper-slide
                +user-card(it)

