mixin ticker()
  .ticker
    p.ticker__track(data-ticker)
      span Дело помощи утопающим — дело рук самих утопающих!
      span Шахматы двигают вперед не только культуру, но и экономику!
      span Лед тронулся, господа присяжные заседатели!
