.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 394px;

  &__img {
    flex-shrink: 0;
    max-width: 320px;
    max-height: 320px;
    min-width: 244px;
    min-height: 244px;

    margin-bottom: 28px;
    border-radius: 50%;
    overflow: hidden;

    @include vp-1279 {
      width: calc($index * 11);
      height: calc($index * 11);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__title {
    text-transform: unset;
    margin-bottom: 6px;
  }

  &__status {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.6;
  }
}
