include ./base/footer

include ./utils/icon
include ./utils/img

include ./blocks/slider
include ./blocks/intro
include ./blocks/ticker
include ./blocks/info
include ./blocks/stages
include ./blocks/user-card
include ./blocks/users

include ./mixins/btn

include ../data/slider
